:root {
  --bgcolor: #F2F2F2;
  --white: #FFFFFF;
  --primary: #6D31EE;
  --primary_shade: #4F28A5;
  --primary_light: #AA9DFA;
  --light_color: #E6E8EC;
  --text_gray: #A1A6B4;
  --shade_gray: #D2D5DD;
  --light_color_40: rgba(230,232,236,0.4);
  --black: #121723;
  --light_black: #292E39;
  --red: #FF6F6F;
  --promo_color: #F0D288;
  --promo_color_shade: #BB973E;
}

@font-face {
  font-family: MullerBold;
  src: url('../../assets/fonts/MullerBold.woff');
  src: url('../../assets/fonts/MullerBold.woff2');
}
@font-face {
  font-family: MullerLightItalic;
  src: url('../../assets/fonts/MullerLightItalic.woff');
  src: url('../../assets/fonts/MullerLightItalic.woff2');
}
@font-face {
  font-family: MullerMedium;
  src: url('../../assets/fonts/MullerMedium.woff');
  src: url('../../assets/fonts/MullerMedium.woff2');
}
@font-face {
  font-family: MullerRegular;
  src: url('../../assets/fonts/MullerRegular.woff');
  src: url('../../assets/fonts/MullerRegular.woff2');
}
@font-face {
  font-family: MullerRegularItalic;
  src: url('../../assets/fonts/MullerRegularItalic.woff');
  src: url('../../assets/fonts/MullerRegularItalic.woff2');
}


html {
  box-sizing: border-box;
  background-color: var(--bgcolor);
  font-family: MullerRegular;
  font-size: 16px;
  color: var(--black);
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
/* common */
.container {
  margin: 0 auto;
  max-width: 1110px;
}
.btn {
  border: 2px solid var(--black);
  padding: 25px;
  border-radius: 40px;
}
.flex {
  display: flex;
}

/* header */
.header {
  background-color: var(--white);
}
.nav-top__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-top__list {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
.nav-top__list-item:not(:last-child) {
  margin-right: 59px;
}
.nav-top__list-link:hover {
  color: var(--primary);
}

.nav-top__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-top__buttons-search {
  margin-right: 24px;
}

.nav-top__buttons-sign {
  padding: 9px 30.5px;
  border-radius: 77px;
  font-family: MullerMedium;
  font-size: 16px;
}

.nav-bottom {
  border-top: 1px solid var(--light_color);
  border-bottom: 1px solid var(--light_color);
}
.nav-bottom__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  position: relative;
}

.nav-bottom__list {
  display: flex;
  flex-direction: row;
}
.nav-bottom__list-item:not(:last-child) {
  margin-right: 52px;
}
.nav-bottom__list-link:hover {
  color: var(--primary);
}

.nav-bottom__buttons {
  display: flex;
  flex-direction: row;
}

.nav-bottom__buttons-block {
  display: flex;
  flex-direction: row;
  border-left: 1px solid var(--light_color);
  padding: 8px 40px 8px 10px;
}
.nav-bottom__buttons-block:nth-child(2) {
  border-right: 1px solid var(--light_color);
}
.nav-bottom__buttons-block button {
  margin-right: 8px;
}
.nav-bottom__buttons-text span {
  font-size: 12px;
  color: var(--text_gray);
  margin-bottom: 5px;
}

.nav-bottom__age-limit {
  background-color: var(--light_color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 46px;
}
.nav-bottom__age-limit p {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--light_color);
  text-align: center;
  justify-items: center;
}

/*Hero block*/

.hero {
  background-color: var(--white);
  padding: 28px 0 40px 0;
}
.hero-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero-main__description {
  width: 64%;
}

.hero-main__title {
  font-family: MullerBold;
  font-size: 60px;
  padding-top: 57px;
  padding-bottom: 10px;
}
.hero-main__title span {
  font-family: MullerLightItalic;
}
.hero-main__text {
  width: 84%;
  line-height: 24px;
  padding-bottom: 45px;
}

.hero-main__btn {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  padding: 22px 52px;
  font-family: MullerMedium;
  font-size: 20px;
}

.hero-main__logo {
  width: 350px;
}

/*podcast*/

.podcast__header {
  padding: 87px 0 0 0;
}

.podcast__header-text {
  font-size: 48px;
  margin-bottom: 25px;
}

.podcast__cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-bottom: 53px;
}
.podcast__item {
  position: relative;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
}
.podcast__item-date {
  position: absolute;
  bottom: 0;
  font-size: 10px;
  width: 51px;
  height: 16px;
  background-color: var(--bgcolor);
  text-align: center;
  line-height: 16px;
}
.podcast__item-image img{
  height: 140px;
  width: 140px;
}
.podcast__item-data {
  width: 100%;
}
.podcast__item-block {
  padding: 24px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.podcast__item-time {
  font-size: 12px;
  margin-bottom: 8px;
}
.podcast__item-title {
  font-size: 20px;
}
.podcast__item-author {
  color: var(--text_gray);
}
.podcast__item-actions {
  flex-direction: row;
  padding: 6px 0 6px 30px;
  border-top: 1px solid var(--light_color);
}
.podcats__item-action-btn {
  align-items: center;
  cursor: pointer;
}
.podcats__item-action-btn svg {
  margin-right: 6px;
}
.podcats__item-action-btn:not(:last-child) {
  margin-right: 30px;
}
.podcats__item-action-btn span {
  color: var(--text_gray);
}
.podcast-button__block {
  justify-content: center;
  margin-bottom: 94px;
}
.podcast-button {
  border-color: var(--primary);
  color: var(--primary);
  font-family: MullerMedium;
  font-size: 20px;
  padding: 22px 52px;
}

/*issues*/

.issues {
  background-color: var(--white);
}
.issues-container {
  padding: 90px 0 94px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 7px;
}
.issues__right-block {
  max-height: 567px;
}
.issues__header {
  font-size: 48px;
  margin-bottom: 31px;
}
.issues__left-block {
  display: flex;
  flex-direction: column;
}
.issues__left-block-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.choices {
  width: 255px;
}
.choices.is-open {
  border-radius: 10px;
  background-color: var(--shade_gray);
}
.is-focused .choices__inner,
.is-open .choices__inner {
  border: 1px solid var(--shade_gray);
}
.choices[data-type*=select-one]::after {
  height: 9px;
  width: 9px;
  z-index: 3;
  top: 40%;
  border: 1px solid var(--text_gray);
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}
.choices[data-type*=select-one].is-open::after {
  top: 60%;
  border-width: 1px 1px 0 0;
  border-color: var(--text_gray);
}
.choices__inner {
  position: relative;
  background-color: var(--shade_gray);
  border-radius: 10px;
  z-index: 2;
}
.is-open .choices__inner {
  border-radius: 10px;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
  top: calc(100% - 30px);
  padding-top: 30px;
  border-radius:  0 0 10px 10px;
}

.issues__buttons-block {
  display: flex;
  flex-direction: column;
}
.issues__left-image {
  width: 65px;
  height: 89px;
  margin-bottom: 20px;
}
.issues__button {
  padding: 12px 56px;
  max-width: 160px;
  margin-bottom: 4px;
}
.issues__buttons-text {
  line-height: 26px;
}

.issues__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.issues__item {
  border: 1px solid var(--light_color);
}
.issues__item-image img {
  width: 100%;
}

.issues__item-text {
  padding: 15px 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.issues__item-header {
  font-family: MullerMedium;
  font-size: 20px;
}

.issues__item-time {
  font-size: 12px;
  color: var(--text_gray);
  margin-bottom: 20px;
}


/*guests*/

.guests {
  background-color: var(--black);
}
.guests-container {
  padding: 90px 0 79px 0;
  color: var(--white);
}
.guests__header {
  font-family: MullerRegular;
  font-size: 48px;
  margin-bottom: 10px;
}
.guests__description {
  width: 70%;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}
.guests__description span {
  display: block;
  color: var(--text_gray);
  font-family: MullerBold;
  font-size: 20px;
  margin-bottom: 10px;
}
.guests__accordion-block {
  color: var(--white);
  justify-content: space-between;
}

.guests__accordion-item:not(:first-child) {
  margin-top: -1px;
}
.guests__accordion-item .guests__accordion-title {
  color: var(--white);
  background-color: transparent;
  font-family: MullerMedium;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  border: solid 1px transparent;
  border-bottom-color: var(--text_gray);
}
.guests__accordion-item:first-child .guests__accordion-title {
  border-top-color: var(--text_gray);
}
.guests__accordion-item .guests__accordion-title:hover {
  border-top-color: var(--primary_light);
  border-bottom-color: var(--primary_light);
  color: var(--primary_light);
}
.guests__accordion-item .guests__accordion-title:hover .guests__accordion-icon circle, 
.guests__accordion-item .guests__accordion-title:hover .guests__accordion-icon path {
  stroke: var(--primary_light);
}
.guests__accordion-item .guests__accordion-item-links {
  margin: 0;
  padding:0;
}
.guests__accordion-item-links ul {
  padding: 28px 0 16px 0;
  border-bottom: 1px solid var(--text_gray);
  columns: 4;
}
.guests__accordion-item-link {
  margin-bottom: 16px;
}

.guests__accordion-icon {
  display: block;
  flex-shrink: 0;
  transition: transform .5s;
}
.ac .ac-trigger::after {
  content: '';
}
.ac {
  margin-top: 0;
  border: none;
  background-color: transparent;
}
.is-active .guests__accordion-icon {
  transform: rotate(180deg);
}
.guests__accordion {
  width: 66%;
}
.guests__accordion-content {
  width: 32%;
  padding-top: 18px;
  padding-left: 5px;
}
.guest__accordion-content-image {
  margin-bottom: 5px;
}
.guests__accordion-content-social {
  margin-bottom: 8px;
}
.guests__accordion-content-social svg:not(:last-child) {
  margin-right: 26px;
}
.guests__accordion-content-title {
  font-family: MullerMedium;
  font-size: 20px;
  margin-bottom: 6px;
}
.guests__accordion-content-text {
  color: var(--text_gray);
  line-height: 29px;
  margin-bottom: 29px;
}
.guests__accordion-content-btn {
  border-color: var(--primary);
  color: var(--primary);
  font-family: MullerMedium;
  padding: 9px 17.5px;
}

/*playlists*/

.playlists__container {
  padding: 94px 0 94px 0;
  justify-content: space-around;
  color: var(--white);
  
}
.playlists__header {
  font-size: 48px;
}
.playlists__left-block {
  flex-direction: column;
  max-width: 370px;
  margin-right: 10px;
}
.playlists__checkbox-title {
  display: block;
  margin-bottom: 19px;
  color: var(--text_gray);
}
.playlists__checkbox-block {
  flex-direction: column;
  padding: 1px 0;
  border-bottom: 1px solid var(--text_gray);
  margin-bottom: 30px;
}

.custom-checkbox[type=radio] {
  display: none;
}

.custom-checkbox, .custom-checkbox-label {
  margin-bottom: 28px;
}
.custom-checkbox-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
	padding-left: 41px;
	margin-right: 0;
	line-height: 18px;
  font-size: 20px;
	user-select: none;
  color: var(--black);
}
.custom-checkbox-label::before {
  content: "";
	display: inline-block;
	width: 27px;
	height: 27px;
	position: absolute;
	left: 0;
	bottom: 1px;
  border: 1px solid var(--text_gray);
  border-radius: 50%;
}
.custom-checkbox[type=radio]:checked + .custom-checkbox-label::before {
  border: 8px solid var(--primary);
}

.playlists__left-text {
  color: var(--text_gray);
  line-height: 22px;
}
.copyrigt {
  font-family: MullerLightItalic;
}
.age-limit {
  display: block;
  border: 1px solid var(--text_gray);
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  padding: 3px 4px 3px 4px;
  margin-top: 10px;
}
.playlists__right-block {
  padding-top: 10px;
}
.playlists__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.playlist__card-info {
  padding: 14px;
}
.playlist__card-title {
  font-family: MullerMedium;
}
.playlist__card-text {
  font-size: 12px;
  color: var(--text_gray);
}

/*promotion*/

.promotion {
  background-color: var(--light_black);
}

.promotion-container {
  padding: 85px 0 134px 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.promotion__image {
  padding-top: 16px;
}
.promotion__title {
  font-size: 48px;
  color: var(--promo_color);
  margin-bottom: 40px;
}
.promotion__content {
  flex-direction: column;
  background-image: url('../../assets/images/promotion-bg.svg');
  background-repeat: no-repeat;
  background-position: top 125px right 0;
}

.promotion__text {
  color: var(--white);
  line-height: 30px;
}
.promotion__text{
  margin-bottom: 8px;
}
.promotion__price {
  font-family: MullerMedium;
  font-size: 30px;
  color: var(--white);
  padding-top: 15px;
  margin-bottom: 30px;
  padding-left: 2px;
}
.promotion__btn {
  border-color: var(--promo_color);
  color: var(--promo_color);
  font-size: 20px;
  font-family: MullerMedium;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 0;
}

/*about-us*/

.about-us {
  background-color: var(--black);
  
}
.about-us-container {
  padding: 88px 0 91px 0;
  background-image: url('../../assets/images/about-us-bg.svg');
  background-repeat: no-repeat;
  background-position: top 94px right 0;
  color: var(--white);
  position: relative;
}
.about-us__header {
  width: 59%;
}
.about-us__title {
  font-size: 48px;
  margin-bottom: 15px;
}
.about-us__text {
  color: var(--text_gray);
  font-size: 20px;
}
.about-us__text span {
  font-family: MullerBold;
}
.about-us__text p {
  margin-top: 12px;
  margin-bottom: 27px;
  line-height: 32px;
}

.about-us__swiper {
  position: relative;
  height: 361px;
  margin-bottom: 30px;
}
.about-us__swiper-slide-title {
  font-size: 20px;
  font-family: MullerMedium;
  margin-bottom: 7px;
}
.about-us__swiper-slide-text {
  color: var(--text_gray);
  line-height: 24px;
}
.about-us__swiper-slide1 {
  background-image: url('../../assets/images/about-us-slide-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.about-us__swiper-slide2 {
  background-image: url('../../assets/images/about-us-slide-2.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.about-us__swiper-slide3 {
  background-image: url('../../assets/images/about-us-slide-3.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.about-us__swiper-slide4 {
  background-image: url('../../assets/images/about-us-slide-4.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.about-us__swiper-slide5 {
  background-image: url('../../assets/images/about-us-slide-5.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.about-us__swiper-slide6 {
  background-image: url('../../assets/images/about-us-slide-6.png');
  background-repeat: no-repeat;
  background-size: contain;
  align-items: flex-end;
}
.swiper-button-next, .swiper-button-prev {
  position: absolute;
  width: 42px;
  height: 42px;
}
.swiper-button-next {
  right: -75px;
  top: 541px;
}
.swiper-button-prev {
  left: -75px;
  top: 542px;
  transform: rotate(180deg);
}
.swiper-button-next::after, .swiper-button-prev::after,
.swiper-button-next::before, .swiper-button-prev::before {
  content: '';
}

.about-us__form-textarea {
  width: 920px;
  height: 150px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid var(--white);
  padding: 30px;
  resize: none;
  margin-bottom: 21px;
  font-size: 20px;
  color: var(--white);
}
.about-us__form-textarea::placeholder {
  color: var(--text_gray);
  font-size: 20px;
}
.adout-us__form-input-group {
  flex-direction: row;
  width: 920px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-us__form-input {
  width: 445px;
  border: 2px solid var(--white);
  background-color: transparent;
  border-radius: 30px;
  padding: 25px 32px;
  margin-bottom: 26px;
  font-size: 20px;
  color: var(--white);
}
.about-us__form-input::placeholder {
  font-size: 20px;
}
.about-us__form-btn {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-family: MullerMedium;
  font-size: 20px;
  padding: 25px 54px;
  margin-bottom: 27px;
}
.about-us__form-label {
  font-size: 12px;
  margin-left: 5px;
}


/*footer*/
.footer {
  background-color: var(--light_black);
}
.footer-container {
  padding: 94px 0 141px 0;
  justify-content: space-between;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__social-icons {
  align-items: flex-start;
}
.footer__social-icons svg {
  margin-right: 20px;
}

.footer__links-list {
  columns: 3;
  column-gap: 109px;
  color: var(--white);
}
.footer__link {
  margin-bottom: 20px;
}